/*
 * min.css for OpenJSCAD.org viewer
 */


#jscad-container {
  min-width: calc(5 / 12 * 100vw);
  height: calc(100vh - 60px);
}

#control-container {
  min-width: calc(2 / 12 * 100vw);
  height: calc(100vh - 60px);
}

#result-container {
  min-width: calc(5 / 12 * 100vw);
  height: calc(100vh - 60px);
}

#header {
  padding: 10px;
  height: 60px;
  background: #0b243d;
}

#viewerContext {
  height: calc(50vh - 30px);
}


canvas { 
  margin: 0px; /* not inherited */
  border: 0px none gray; /* not inherited */
  padding: 0px; /* not inherited */

  width: 100%;
  height: 100%;
  cursor: move; 
}

#parametersdiv {
  margin-top: 10px;
  background: #E5E5E5;
  opacity: 0.8;
}

#parametersdiv td {
  margin:  0px; /* not inherited */
  border:  0px none gray; /* not inherited */
  padding: 0px; /* not inherited */
}

